/ChoosingScreen.class
/ChoosingScreenController.class
/DemonstrationScreen.class
/DemonstrationScreenController.class
/HelpScreen.class
/InfectionController.class
/MainScreen.class
/MainScreenController.class
/StructureController.class
